@import "../styles/variables.scss";

.nav-views {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $blue1;
  margin: 0;
  height: 4em;
  font-family: 'Roboto Condensed', sans-serif;

  &__item {
    &-selected {
      text-align: center;
      padding: 1em;
      color: $blue2;
      background-color: darken($white, 5%);
      color: $blue3;
      border-radius: 0.8em;
      height: 1.5em;
    }
    height: 1.5em;
    text-align: center;
    padding: 1em;
    color: $blue2;
    border-radius: 0.8em;

     
    &:hover {
      background-color: $blue2;
      cursor: pointer;
      color: $blue3;
      height: 1.5em;
    }

   
  }

}