@import "../styles/variables.scss";

.desc {
  border-bottom: 3px solid $blue1;
}
.asc {
  border-top: 3px solid $blue1;
}

.searchBox {
  border-radius: 0.5em;
  padding: 0.5em;
  color: $blue1;
  font-size: 0.8em;
  border: 0;
}

::placeholder {
  color: $blue1
}
.columnToggles {
  display: flex;
  background-color: $blue1;
  border-radius: 0.5em;
  color: $blue5;
  margin-top: 1em;
  padding: 0.5em;
}
table {
  width: 90%;
  height: 80%;
  text-align: center;
  border-spacing: 0;
  border-radius: 1em;
  background-color: $blue2;
  margin: 0.5em;
  color: $blue5;
.frozen {
  background-color: red;
}
  tr {
    :last-child {
      td {
        border-bottom: 0;
      }
    }
  }
  th,
  td {
    margin: 0;
    padding: 0.5rem;
    border-bottom: 1px solid $blue4;
    border-right: 1px solid $blue4;
    :last-child {
      border-right: none;
    }
  }
}
