@import "./styles/variables.scss";


.html{
  min-height: 200vh
}
.App {
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;;
}
.layout {
  background-color: $blue4;
  min-height: 100%;
  padding: 1em;
  font-family: 'Roboto Condensed', sans-serif;
  
}

.searchBox {
  border-radius: 0.5em;
  padding: 1em;
  position: relative;
  top: 0.5em;
  left: 1em;
  color: $blue1;
  font-size: 0.8em;
}

table {
  width: 90%;
  height: 80%;
  text-align: center;
  border-spacing: 0;
  border-radius: 1em;
  background-color: $blue2;
  margin: 1em;
  color: $blue5;
  tr {
    :last-child {
      td {
        border-bottom: 0;
      }
    }
  }
  th,
  td {
    margin: 0;
    padding: 1rem;
    border-bottom: 1px solid $blue4;
    border-right: 1px solid $blue4;
    :last-child {
      border-right: none;
      border-bottom: 1px solid red;
    }
  }
}

table tbody tr:last-child {
  border-bottom: 1px solid red;
}