@import "./styles/variables.scss";

.App {
  text-align: center;
}

table {
  width: 90%;
  text-align: center;
  border-spacing: 0;
  border: 1px solid green;
  background-color: blue;
  margin: 1em;
  tr {
    :last-child {
      td {
        border-bottom: 0;
      }
    }
  }
  th,
  td {
    margin: 0;
    padding: 1rem;
    border-bottom: 1px solid red;
    border-right: 1px solid red;
    :last-child {
      border-right: 0;
    }
  }
}